{% extends "base.html" %}

{% block content %}
<div class="bg-black p-6 rounded-lg shadow-lg text-gray-500 max-w-md mx-auto">
    <h1 class="text-2xl font-bold text-yellow-500 mb-4">Trocar Senha</h1>

    <form method="post" class="space-y-4">
        {% csrf_token %}
        {{ form.as_p }}

        <button type="submit" class="w-full bg-yellow-500 text-gray-800 font-semibold py-2 px-4 rounded-lg hover:bg-yellow-400 transition duration-300">
            Salvar nova senha
        </button>
    </form>
</div>
{% endblock %}
